<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>List of Your Books</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-route.js" type="text/javascript"></script>
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/books.js" type="text/javascript"></script>
    <style>
        .custab
        {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
    </style>
</head>

<body>
<form name="books" class="form-horizontal">
    <fieldset>
        <br/> <br/> <br/>
        <div class="form-group">

            <div class="container" ng-app="books">
                <div class="row col-md-12  custyle" ng-controller="books_controller" ng-init="get_books()">
                    <table class="table table-striped custab">
                        <thead>
                        <a href="/save_book.html" class="btn btn-primary btn-xs pull-right"><b>+</b> Create New Book</a>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Number of Pages</th>
                            <th>Cost</th>
                            <th>Author</th>
                            <th>Action</th>
                            <!--<th class="text-center">Action</th>-->
                        </tr>
                        </thead>
                        <tr ng-repeat="book in books_data | filter:q as results track by book.id">
                            <td><a href="view_book.html#!/{{book.id}}">{{book.id}}</a></td>
                            <td>{{book.title}}</td>
                            <td>{{book.numberOfPages}}</td>
                            <td>{{book.cost}}</td>
                            <td><a href="view_author.html#!/{{book.authors[0].id}}">{{book.authors[0].firstName+' '+book.authors[0].lastName}}</a></td>
                            <td><button class="btn-danger" ng-click="delete_book(book.id)">Delete</button></td>
                        </tr>

                    </table>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" ></label>
                    <div class="col-md-4">
                        <a href="/index.html">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>
