<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
    <title>Save Book</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-route.js" type="text/javascript"></script>
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/save_author.js" type="text/javascript"></script>

</head>

<body ng-app="save_author">
<div  id="save_book_div" class="container-fluid container">
<form  name="save_book_form" ng-submit="validate_and_save_author()" class="form-horizontal"  ng-controller="save_author_controller">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <h1><label class="col-md-6 control-label">Create Author</label></h1>
        </div>
        <br/>
        <!-- Text input-->
        <div class="form-group">

            <label class="col-md-4 control-label" for="firstName">First Name</label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" ng-model="firstName" type="text" placeholder="" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Last Name</label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" ng-model="lastName"  type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email"  ng-model="email" type="text" placeholder=""
                       class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Phone</label>
            <div class="col-md-4">
                <input id="phone" name="phone"  ng-model="phone"  type="text" placeholder="" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" ></label>
            <div class="col-md-4">
                <input type="submit"  name="submit"  class="btn btn-primary" value ="Save" />
                <br/>  <br/>  <br/>
                <span ng-if="form_error" >Unable to save Author, Please check the information</span>
                <span style="color: green" ng-if="form_success">Author created with id: {{author_id}}, Click <a href="/authors.html">here</a> to all Authors</span>
            </div>
        </div>

    <br/> <br/> <br/>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" ></label>
            <div class="col-md-4">
                <a href="/authors.html">Click here to see all authors</a>
            </div>
        </div>

    </fieldset>
</form>


</div>

</body>
</html>
