kind: PersistentVolume
apiVersion: v1
metadata:
  name: postgresql-sonarqube-data
  annotations:
    pv.beta.kubernetes.io/gid: "1234"
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/lib/pgsql/data"
